* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: whitesmoke;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    box-shadow: 10px 7px 15px 2px rgba(0, 0, 0, 0.2);
    padding: 0 3.5rem;
    width: 100%;
    height: 3.5rem;
    z-index: 5;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.share__button {
    height: 2rem;
    width: 4rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #10B981;
    color: white;
    font-weight: bolder;
}

.share__button:hover {
    transition: ease-out 700ms;
    box-shadow: 5px 3px 7px 1px #21da9c;
}

main {
    display: flex;
    padding: 1.25rem;
    gap: 1.25rem;
}

.property__details__container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.image__collection__container {
    width: 100%;
    display: flex;
    gap: 1.25rem;
    height: 20rem;
}

.main__display__image {
    width: 70%;
    height: 100%;
}

.more__images__section {
    display: grid;
    width: 30%;
    height: 100%;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
    grid-auto-flow: column;
}

.display__images {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.property__info {
    padding: 0 1.25rem;
}

.property__name {
    display: flex;
    padding: 1.25rem 0;
    justify-content: space-between;
    align-items: center;
}

.property__details {
    padding: 1.25rem 0;
    border-top: grey 2px solid;
}

.property__amenities {
    display: grid;
    font-weight: 600;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.25rem;
}

.property__description {
    display: flex;
    gap: 2.5rem;
}

.agent__details__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.owner__details__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
    border-width: 1px;
    gap: 0.25rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.owner__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    gap: 0.25rem;
}

.owner__image {
    object-fit: cover;
    object-position: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.owner__contact__number__container {
    display: flex;
    background-color: #A7F3D0;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.25rem;
}

.owner__contact__container {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.analytics__area__container {
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    width: 100%;
    gap: 1.25rem;
}

.contact__agent__button {
    background-color: #10B981;
    color: white;
    font-weight: 600;
    width: 80%;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: none;
}

button {
    cursor: pointer;
}